<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="container">
        <nav class="navigation">
            <div class="navigation-header">
                <a class="navigation-brand" href="/">{{ site.title }}</a>
            </div>

            <div class="navigation-right">
                <ul>
                    <li>
                        <a href="/">WhitePaper</a>
                    </li>
                    <li>
                        <a href="/">Blog</a>
                    </li>
                    <li>
                        <a href="/">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main>
            {{ content }}
        </main>
        <footer>
                <hr>
            <div class="text-container">
                <h2>Join The Conversation</h2>
                <p>Join our community on Slack to learn more about our plans, share your feedback and feature requests with us, or to
                    get involved as a contributor. We look forward to chatting.</p>
                <a href="/" class="btn-obsidian">Join us on Slack</a>       
            </div>
            <hr>
            <div class="copyright"><p>© 2017 Obsidian. All rights reserved</p></div>
            </footer>
    </div>
</body>

</html>