<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="container">
        <nav class="navigation">
            <div class="navigation-header">
                <a class="navigation-brand" href="/">{{ site.title }}</a>
            </div>

            <div class="navigation-right">
                <ul>
                    <li>
                        <a href="/">WhitePaper</a>
                    </li>
                    <li>
                        <a href="/">Blog</a>
                    </li>
                    <li>
                        <a href="/">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main>
            {{ content }}
        </main>
    </div>
</body>

</html>